

.gameTable{
    width: 500px;
    height: 500px;
    margin: auto;
    border: 10px solid gray;
    display: grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
}

button{
    height: 50px;
    font-size: 24px;
}

.repeatGame{
    display: grid;
    margin: 20px;
    justify-content: center;
}

.repeatGame-button{
    background: aliceblue;
    width: 100px;
    height: 60px;
    border-radius: 10px;
}